@inherits LayoutComponentBase

<PageTitle>건강 관리 웹</PageTitle>

<div class="container">
    <main>
        <div class="top-row px-4">
            <div class="container-fluid">
                <button title="Navigation menu" style="cursor:pointer" class="navbar-toggler" @onclick="@(() => {navigationManager.NavigateTo("/", forceLoad:true);})">
                    <img src="" alt="logo" />
                </button>
            </div>
            <div>
                <FirstBlazorWeb.Pages.Login></FirstBlazorWeb.Pages.Login>
            </div>
        </div>
        <div style="display:flex;justify-content:center">
            <NavMenu></NavMenu>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    private int cnt = 0;

    private void Show()
    {
        cnt++;
    }
}