@page "/chart"
@page "/chart/ex"
@page "/chart/health"

@if (loginfo == null)
{
    <p>....Loading....</p>
}
else
{
    <h3>Chart</h3>

    <div class="nav">
        <div class="navbar-toggler" style="cursor:pointer" @onclick="@(() => {navigationManager.NavigateTo("/chart/ex"); flag=0;})">
            운동 차트
        </div>
        <div class="navbar-toggler" style="cursor:pointer" @onclick="@(() => {navigationManager.NavigateTo("/chart/health"); flag=1;})">
            건강 차트
        </div>
    </div>
    <hr />

    @if (flag == 0){
        <ExerciselogData></ExerciselogData>
    }
    else{
        @*<HealthchartData></HealthchartData>*@
    }

}

@code {
    public Member? loginfo { get; set; }

    int flag = 0;

    protected override async Task OnInitializedAsync()
    {
        loginfo = await sessionStorage.GetItemAsync<Member>("loginfo");
        
    }
}
