@page "/exerciselog/{exno:int}"

@if(exerciselog == null)
{
    <p>....Loading....</p>
}
else
{
    @exerciselog.Exdate

    <button class="btn btn-secondary" @onclick="@(() => navigationManager.NavigateTo("/logform/"+loginfo.Id+"/"+exerciselog.Exno))">수정</button>
    <button class="btn btn-secondary" @onclick="async () => {await ExerciselogService.DeleteExerciselogAsync(exerciselog.Exno);}">삭제</button>
}
@code {
    [Parameter]
    public int exno { get; set; }

    public Member loginfo { set; get; } = null!;

    private Exerciselog exerciselog { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        loginfo = await sessionStorage.GetItemAsync<Member>("loginfo");
        await Task.Delay(100);
        exerciselog = await ExerciselogService.GetExerciselogByExnoAsync((int)exno);
    }
}
