@page "/exerciselog"

@if (loginfo == null)
{
    <p>....Loading....</p>
}
else
{
    @if(exerciselogs != null)
    {
        <div class="title">
        <h3>ExerciseLog</h3>
        </div>
        <div style="display:flex;justify-content:flex-end;margin-right:7%;">
            <button class="btn btn-secondary" @onclick="CreateLog">등록</button>
        </div>
        <div class="card-group" style="display:flex;justify-content:flex-start;margin:5%">
        @foreach(var exerciselog in exerciselogs)
            {
                <div style="width:15rem;margin-bottom:3%;">
                    <div class="card-body">
                        <img class="card-img-top" src="/image/exercise1.jpg" alt="Card image cap">
                        <br/>
                        <div style="cursor:pointer;" @onclick=@(() => navigationManager.NavigateTo("/exerciselog/"+exerciselog.Exno))>
                            <h4 class="card-title">@exerciselog.Extype</h4>
                            <p style="margin-bottom:3px;">@exerciselog.Exname</p>
                            <p>@exerciselog.Exdate.ToString().Substring(0,10)</p>
                        </div>
                        <div style="display:flex;justify-content:flex-end">
                            <button class="btn btn-secondary" @onclick="@(() => navigationManager.NavigateTo("/logform/"+exerciselog.Exno))">수정</button>
                            <button class="btn btn-secondary" @onclick="async () => {await ExerciselogService.DeleteExerciselogAsync(exerciselog.Exno);}">삭제</button>
                        </div>
                    </div>
                </div>
        }
        </div>
    }
    else
    {

    }
}
@for (int i = 0; i < 40; i++)
{
    <br />
}
@code {
    public Member loginfo { get; set; } = null!;

    private List<Exerciselog>? exerciselogs { get; set; }

    protected override async Task OnInitializedAsync()
    {
        loginfo = await sessionStorage.GetItemAsync<Member>("loginfo");

        await Task.Delay(500);
        await MemberService.GetMemberByIdAsync(loginfo.Id);

        await Task.Delay(100);
        exerciselogs = await ExerciselogService.GetExerciselogByIdAsync(loginfo.Id);
    }
    public void CreateLog()
    {
        navigationManager.NavigateTo("/logform");
    }


}
